<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>密码重置</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .resend-mail {
      padding: 0;
    }
  </style>
  <script>
    $(document).ready(function() {
      $(".password").on('input', function() {
        if (!$(".password-empty").hasClass("sr-only")) {
          $(".password-empty").addClass("sr-only");
        }
        if (!$(".confirm-password-empty").hasClass("sr-only")) {
          $(".confirm-password-empty").addClass("sr-only");
        }
      });

      $(".confirm-password").on('input', function() {
        if (!$(".password-empty").hasClass("sr-only")) {
          $(".password-empty").addClass("sr-only");
        }
        if (!$(".confirm-password-empty").hasClass("sr-only")) {
          $(".confirm-password-empty").addClass("sr-only");
        }

        if (!$(".confirm-password-different").hasClass("sr-only")) {
          $(".confirm-password-different").addClass("sr-only");
        }
      });

      $(".reset").click(function() {
        var newPassword = $(".password").val();
        var confirmPassword = $(".confirm-password").val();

        if (newPassword === "") {
          $(".password-empty").removeClass("sr-only");
          event.preventDefault();
          return;
        }
        if (confirmPassword === "") {
          $(".confirm-password-empty").removeClass("sr-only");
          event.preventDefault();
          return;
        }
        if (newPassword !== confirmPassword) {
          $(".confirm-password-different").removeClass("sr-only");
          event.preventDefault();
          return;
        }
      });
    });
    function clearPassword() {
      $(".new-password").val("");
      $(".confirm-password").val("");
    }
  </script>
  <script>
    $(document).ready(function() {
      $("#resend-mail-submit").click(function() {
        var mail = $("#resend-mail").val();
        if (mail == "") {
          $("#resend-message-error").text("The mail address can not be empty");
          $("#resend-message-error").fadeIn(20);
          $("#resend-message-error").fadeOut(2000);
          return;
        }
        $.ajax({
          method: "POST",
          contentType: "application/json",
          url: "/v1/password/reset/mail",
          data: JSON.stringify({mail: mail}),
          dataType: "json"
        }).done(function(data) {
          $("#resend-message-success").text("The password resend mail has been send, retry after 60s");
          buttonCountDown();
          $("#resend-message-success").fadeIn(20);
          $("#resend-message-success").fadeOut(3000);
        }).fail(function(error) {
          $("#resend-message-error").text(error.responseJSON.error.message);
          $("#resend-message-error").fadeIn(20);
          $("#resend-message-error").fadeOut(2000);
        });
      }); 
    });
    function clearMailInput() {
      $("#resend-mail").val("");
    }
    function buttonCountDown() {
      $("#resend-mail-submit").prop('disabled', true);
      var count = 60;
      $("#resend-mail-submit").text(count+ "s");
      var id = setInterval(function() {
        count--;
        $("#resend-mail-submit").text(count+ "s");
        if (count == 0) {
          clearInterval(id);
          $("#resend-mail-submit").text("Submit");
          $("#resend-mail-submit").prop('disabled', false);
        }
      }, 1000);
    }
  </script>
</head>
<body>
  {{template "header"}}
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        {{if not .Error}}
        <div class="col-md-6 text-center">
          <form class="reset-form" action="/web/password/reset/{{.Token}}" method="POST">
            <h3 class="text-center text-info">重置密码</h3>
            <div class="form-group">
              <label for="new-password" class="text-info">新密码:</label><br>
              <input type="password" name="password" id="password" class="password form-control">
              <label for="message" class="text-danger sr-only password-empty">不能为空<br>
            </div>
            <div class="form-group">
              <label for="confirm-password" class="text-info">确认密码:</label><br>
              <input type="password" id="confirm-password" class="confirm-password form-control">
              <span for="message" class="text-danger sr-only confirm-password-empty">不能为空</span>
            </div>
            <div class="form-group">
              <span class="text-danger sr-only confirm-password-different">两次密码不一样</span>
            </div>
            <button type="submit" class="btn btn-info reset">重置</button>
          </form>
        </div>
        {{else}}
        <div class="col-12 text-center">
          <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;">
            <span class="swal2-x-mark">
            <span class="swal2-x-mark-line-left"></span>
            <span class="swal2-x-mark-line-right"></span>
            </span>
          </div>
          <h2 class="font-weight-light">链接可能失效了 !</h2>
          <p class="lead">点击 <button type="button" class="resend-mail btn btn-link" data-toggle="modal" data-target="#modalResend">这里</button> 重发重置密码邮件.</p>
        </div>
        {{end}}
      </div>
    </div>
  </header>
  {{template "footer"}}
  <!-- Modal: modalCart -->
  <div class="modal fade" id="modalResend" tabindex="-1" role="dialog" aria-labelledby="resend" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <h4 class="modal-title">重发重置密码邮件</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            <div class="input-group mb-3">
              <input type="text" id="resend-mail" class="form-control" placeholder="Mail Address" aria-label="Maild Address" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button id="resend-mail-submit" class="btn btn-outline-secondary" type="button">提交</button>
              </div>
            </div>
            <div>
              <p id="resend-message-success" class="text-success text-center"></p>
              <p id="resend-message-error" class="text-danger text-center"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal: modalCart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
