<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>重置密码</title>
    <!-- <link rel="Shortcut Icon" href="#{httpProtocol}://#{domain}/static/images/favicon.ico"> -->
</head>
<body style="background: #fafafa; font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif">
<div class="ui container" style="width: auto !important; max-width: 600px; margin: 0 auto">
    <h2 id="app-name" style="margin: 20px 0; text-align: center">Pluto</h2>
    <div id="message-content" class="ui card"
         style="width: 100%; background: #FFF; border-radius: 5px; box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5">
        <div class="content" style="padding: 1em">
            <h4 style="margin: 0">重置密码</h4>
        </div>
        <hr style="border-top: 0px solid rgba(34, 36, 38, .1); margin: 0">
        <div class="content" style="padding: 1em">
            <h5 style="margin: 1em 0; font-size: 15px; font-weight: normal">亲爱的用户,</h5>
            <h5 style="margin: 1em 0; font-size: 15px; font-weight: normal">这是一份重置密码的邮件.</h5>
            <h5 style="margin: 1em 0; font-size: 15px; font-weight: normal">请在10分钟之内点击下方按钮进行密码重置.</h5>
            <a href="{{.BaseURL}}/web/password/reset/{{.Token}}" class="ui submit button primary"
               style="background: 0 0; background-color: #2185D0; color: #FFF; cursor: pointer; display: inline-block; padding: .78571429em 1.5em; font-weight: 700; line-height: 1em; text-decoration: none; border-radius: 5px">重置密码</a>
            <h5 style="margin: 1em 0; font-size: 15px; font-weight: normal">如果按钮不能使用，请复制下方的链接并在浏览器中打开。 </h5>
            <a href="{{.BaseURL}}/web/password/reset/{{.Token}}"
               style="background: 0 0; color: #4183C4; text-decoration: none">{{.BaseURL}}/password/reset/{{.Token}}</a>
            <h5 style="margin: 1em 0; font-size: 15px; font-weight: normal">如果这不是您的操作请忽视这封邮件。</h5>
            <h5 style="margin: 1em 0; font-size: 15px; font-weight: normal">祝好,</h5>
            <h5 style="margin: 1em 0; font-size: 15px; font-weight: normal">Pluto开发者</h5>
        </div>
    </div>
    <div class="item" style="color: rgba(0, 0, 0, .4);
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 13px"><a class="item" href="https://github.com/leeif/pluto" target="_blank">Powered by Pluto.</a></div>
</div>
</body>
</html>
