<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .container {
      margin-top: 20px;
    }
  </style>
  <script>
    $(document).ready(function() {
      $(".new-password").on('input', function() {
        if (!$(".new-password-empty").hasClass("sr-only")) {
          $(".new-password-empty").addClass("sr-only");
        }
        if (!$(".confirm-password-empty").hasClass("sr-only")) {
          $(".confirm-password-empty").addClass("sr-only");
        }
      });

      $(".confirm-password").on('input', function() {
        if (!$(".password-empty").hasClass("sr-only")) {
          $(".password-empty").addClass("sr-only");
        }
        if (!$(".confirm-password-empty").hasClass("sr-only")) {
          $(".confirm-password-empty").addClass("sr-only");
        }

        if (!$(".confirm-password-different").hasClass("sr-only")) {
          $(".confirm-password-different").addClass("sr-only");
        }
      });

      $(".reset").click(function() {
        var newPassword = $(".password").val();
        var confirmPassword = $(".confirm-password").val();

        if (newPassword === "") {
          $(".new-password-empty").removeClass("sr-only");
          return;
        }
        if (confirmPassword === "") {
          $(".confirm-password-empty").removeClass("sr-only");
          return;
        }
        if (newPassword !== confirmPassword) {
          $(".confirm-password-different").removeClass("sr-only");
          return;
        }
        $(".reset-form").submit();
      });
    });
    function clearPassword() {
      $(".new-password").val("");
      $(".confirm-password").val("");
    }
  </script>
</head>
<body>
  {{template "header"}}
  <header class="masthead">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center">
        {{if .Error == nil}}
        <div class="col-md-6 h-100 text-center">
          <form class="reset-form" action="/password/reset/result" method="POST">
            <h3 class="text-center text-info">Reset Password</h3>
            <div class="form-group">
              <label for="new-password" class="text-info">New Password:</label><br>
              <input type="password" name="password" id="password" class="new-password form-control">
              <label for="message" class="text-danger sr-only password-empty">Can't be empty<br>
            </div>
            <div class="form-group">
              <label for="confirm-password" class="text-info">Confirm Password:</label><br>
              <input type="password" id="confirm-password" class="confirm-password form-control">
              <span for="message" class="text-danger sr-only confirm-password-empty">Can't be empty</span>
            </div>
            <div class="form-group">
              <span class="text-danger sr-only confirm-password-different">Two passwords is not the same</span>
            </div>
            <div class="form-group">
              <input type="text" name="token" value={{.Token}} hidden>
            </div>
            <button type="button" class="btn btn-info reset">Reset</button>
          </form>
        </div>
        {{else}}
        <div class="col-12 h-100 text-center">
          <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;">
            <span class="swal2-x-mark">
            <span class="swal2-x-mark-line-left"></span>
            <span class="swal2-x-mark-line-right"></span>
            </span>
          </div>
          <h2 class="font-weight-light">The link is invalid !</h2>
        </div>
        {{end}}
      </div>
    </div>
  </header>
  {{template "footer"}}
</body>
</html>