<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .container {
      margin-top: 20px;
    }
  </style>
  <script>
    $(document).ready(function() {
      $(".new-password").on('input', function() {
        if (!$(".new-password-empty").hasClass("sr-only")) {
          $(".new-password-empty").addClass("sr-only");
        }
        if (!$(".confirm-password-empty").hasClass("sr-only")) {
          $(".confirm-password-empty").addClass("sr-only");
        }
      });

      $(".confirm-password").on('input', function() {
        if (!$(".new-password-empty").hasClass("sr-only")) {
          $(".new-password-empty").addClass("sr-only");
        }
        if (!$(".confirm-password-empty").hasClass("sr-only")) {
          $(".confirm-password-empty").addClass("sr-only");
        }

        if (!$(".confirm-password-different").hasClass("sr-only")) {
          $(".confirm-password-different").addClass("sr-only");
        }
      });

      $(".reset").click(function() {
        var newPassword = $(".new-password").val();
        var confirmPassword = $(".confirm-password").val();
        var accessToken = $(".access-token").val();

        if (newPassword === "") {
          $(".new-password-empty").removeClass("sr-only");
          return;
        }
        if (confirmPassword === "") {
          $(".confirm-password-empty").removeClass("sr-only");
          return;
        }
        if (newPassword !== confirmPassword) {
          $(".confirm-password-different").removeClass("sr-only");
          return;
        }
        $.ajax({
          method: "POST",
          contentType: "application/json",
          url: "/api/user/password/reset",
          data: JSON.stringify({token: accessToken, password: newPassword}),
          dataType: "json"
        }).done(function(data) {
          window.location.href = data.body.redirect;
        }).fail(function() {
          alert("error");
          clearPassword();
        });
      });
    });
    function clearPassword() {
      $(".new-password").val("");
      $(".confirm-password").val("");
    }
  </script>
</head>
<body>
  {{template "header"}}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="col-md-12">
          <form class="form">
            <h3 class="text-center text-info">Reset Password</h3>
            <div class="form-group">
              <label for="new-password" class="text-info">New Password:</label><br>
              <input type="password" name="new-password" id="new-password" class="new-password form-control">
              <label for="message" class="text-danger sr-only new-password-empty">Can't be empty<br>
            </div>
            <div class="form-group">
              <label for="confirm-password" class="text-info">Confirm Password:</label><br>
              <input type="password" name="confirm-password" id="confirm-password" class="confirm-password form-control">
              <span for="message" class="text-danger sr-only confirm-password-empty">Can't be empty</span>
            </div>
            <div class="form-group">
              <span class="text-danger sr-only confirm-password-different">Two passwords is not the same</span>
            </div>
            <button type="button" class="btn btn-info reset">Reset</button>
          </form>
        </div>
      </div>
    </div>
    <input type="text" class="access-token" value={{.Token}} hidden>
</div>
</body>
</html>